@for (tarea of tareas; track tarea.id) {



    <app-tarea-card
    [tarea]="tarea"
    (completar)="onCompletar($event)"
    (eliminar)="onEliminar($event)"
    />
} @empty {
    <p class="text-muted text-center py-4">
        No hay tarea disponible
    </p>

}

<p>{{tarea.titulo | uppercase}}</p>

<input
    type="text"
    [value]="tarea.titulo | uppercase"
    class="from-control">

<app-tarea-card
    [tarea]="tarea"
    [titulo]="tarea.titulo | titlecase" />

<span [ngClass]="badge bg-' + (tarea.estaCOmpletada?'success' : 'warning')">
    {{tarea.estaCompletada | estadoTarea}}
</span>