<div class="card mb-3 shadow-sm">

    <div class="card-body">

        <h5 class="card-title">
            {{ tarea.titulo }}
        </h5>

        <p class="card-text">
            {{ tarea.descripcion }}
        </p>

        <!-- Fecha límite -->
        <span class="text-muted small d-block">
            {{ tarea.fechaLimite | date:'dd/MM/yyyy' }}
        </span>

        <!-- Pipe personalizado -->
        <span class="text-muted small d-block">

            {{
                tarea.fechaLimite
                    ? (tarea.fechaLimite | diasRestantes)
                    : 'Sin fecha límite'
            }}

        </span>

        <div class="mt-3">

            <button
                class="btn btn-success btn-sm me-2"
                (click)="onCompletar()">

                Completar

            </button>

            <button
                class="btn btn-danger btn-sm"
                (click)="onEliminar()">

                Eliminar

            </button>

        </div>

    </div>

</div>